@import "../../../assets/styles/variables.scss";

.footer {
    .icon {
        width: 60px;
        height: 60px;
        padding: 10px;
    }
    .footer-content {
        background-color: $dark-color;
    }

    .footer-credits {
        background-color: $dark-color;
    }
}