@import "/src/assets/styles/variables.scss";

.item-list {
  max-height: 6rem;
  min-height: 6rem;
  overflow-y: scroll;
}

.prepare-title-list {
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $color-dark-blue;
}

.prepare-background-list {
  background-color: $color-opacity-background;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
