
<mat-toolbar class="fixed-top">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">
      <img src="../../../../assets/images/icons/easy-chef-logo.svg" alt="icon" width="45px" height="45px">&nbsp;Easy Chef
    </span>
    <span class="menu-spacer"></span>
    
    <div fxShow="true" fxHide.lt-md class="h-100">
      <div class="d-flex align-items-center h-100">
        <ng-container *ngFor="let item of headerItens">
          <li class="dropdown h-100">
            <a class="nav-link dropdown-toggle h-100 d-flex align-items-center" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <mat-icon>expand_more</mat-icon> {{ item.nome | translate }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <ng-container *ngFor="let link of item.links">
                <a class="dropdown-item" [routerLink]="link.link">{{ link.nome | translate }}</a>
              </ng-container>
            </div>
          </li>
        </ng-container>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
      <ng-container *ngFor="let item of headerItens">
        <li class="dropdown h-100">
          <a class="nav-link dropdown-toggle h-100 d-flex align-items-center" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon>expand_more</mat-icon> {{ item.nome | translate }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <ng-container *ngFor="let link of item.links">
              <a class="dropdown-item" [routerLink]="link.link">{{ link.nome | translate }}</a>
            </ng-container>
          </div>
        </li>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
