.col-md-auto {
  width: fit-content !important;

  @media (max-width: 600px) {
    width: 100% !important;

    mat-button-toggle-group {
      width: 100%;
    }

    mat-button-toggle {
      flex: 1 1 100%;
      box-sizing: border-box;
      align-items: center;
      flex-direction: row;
      display: flex;
    }
  }
}

#button-col {
  @media (max-width: 768px) {
    .light-button {
      width: 100%;
    }
  }
}
