
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "/src/assets/styles/variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050C11;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  color: $pink;
}

.light-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  color: $light-color;
  border: 2px solid $light-color;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #00000000;

  &:hover {
    color: $pink;
    border-color: $pink;
  }
}

.pink-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  color: $light-color;
  background-color: $pink;
  border-radius: 10px;
  text-decoration: none;
  padding: 15px 30px;
  width: auto;
  z-index: 2;

  &:hover {
    color: $pink;
    background-color: $light-color;
  }
}

.box {
  background: rgba(62, 62, 62, 0.65);
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: 5% auto 5% auto;
}

@media (max-width: 600px) {
  .box {
    background: rgba(62, 62, 62, 0.65);
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    max-width: 90%;
    padding: 15px;
    margin: 5% auto 5% auto;
  }
}

.form-label {
  color: whitesmoke;
  font-family: Mate;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.help-block {
  font-family: Mate;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
}

.form-control {
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text-mini-logo {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: $light-color;
}

// scroll bar
body {
  overflow: overlay;
}

*::-webkit-scrollbar {
  display: block;
  width: 16px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000099;
  border: 1px solid #f5f5f540;
  border-radius: 24px;
}
