@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import '/src/assets/styles/variables.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  background: url("./assets/images/icons/food-background.svg") repeat center center;
}

.light-button {
  border: 2px $color-light-button solid;
  border-radius: 10px;
  height: 40px;
}

.blue-button {
  background-color: $color-blue;
  color: $color-light;
  border-radius: 10px;
  height: 40px;
}

.logo {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: center;
}

.light-link {
  color: $color-light-button;
}

.dark-card {
  background-color: $color-dark-blue;
  padding: 30px;
  margin: auto;
  border: 4px solid $color-dark-card-border;
  border-radius: 15px;
}

table, th {
  color: $color-light !important;
}

mat-progress-spinner.spinner {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  circle {
    stroke: $color-gold;
  }
}

.main-title {
  font-family: 'Segoe UI', bold;
  font-size: 2rem;
  color: $color-light;
  font-weight: bold;
  width: fit-content;
}

// scroll bar
::-webkit-scrollbar {
  display: block;
  width: 16px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.6);
  border: 1px solid hsla(0,0%,96%,.251);
  border-radius: 24px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.paginator {
  padding: 1rem;

  .pages {
    text-align: center;
    color: $color-light;
    margin-right: 40px;
    font-weight: bold;
  }

  .items {
    text-align: center;
    text-transform: uppercase;
    color: $color-light;
    margin: 0 18px;

    mat-form-field {
      width: 3rem; 
      text-align: center;
      font-weight: bold;
    }
  }

  button {
    background-color: $color-light;
    border-radius: 6px;
    font-weight: 600;
    color: $color-dark-blue;
    width: fit-content !important;
    height: 20px;
    mat-icon {
      font-size: 20px;
      margin: -24px 0px 0px 0px;
      width: fit-content;
    }
  }
}

.mat-toolbar {
  background-color: $color-dark-blue;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
}

table {
  box-shadow: 0px 3px 6px rgba(96, 125, 139, 0.1);
  background-color: $color-dark-blue !important;

  thead {
    background-color: $color-dark-blue-checked !important;
    tr th {
      font-size: 18px !important;
    }
  }
  
  th {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    color: $color-dark-blue;
    border-bottom: 1px solid $color-light;

    .info {
      font-size: 13px;
    }

    &.mat-header-cell {
      padding: 20px;
    }
  }

  td.mat-cell {
    padding: 16px 20px;
    height: 75px;
  }

  border-collapse: collapse;
  border-radius: 0.75rem;
  overflow: hidden;
}

mat-button-toggle {
  background-color: $color-dark-blue !important;
  &.mat-button-toggle-checked {
      background-color: $color-dark-blue-checked !important;
  }
}

.backdrop-blur {
  backdrop-filter: blur(2px);
}

.opacity-background {
  background-color: $color-opacity-background;
}