$color-header-dark-blue: #09141d;
$color-dark-card-border: #192a38;
$color-light-button: #f5f5f5f5;
$color-opacity-background: #00000067;

$color-dark-blue: #102434;
$color-dark-blue-checked: #09141d;
$color-dark: #050c11;
$color-light: #f5f5f5;
$color-gold: #fca406;
$color-blue: #057ada;
$color-gray: #635f5f;
$color-pink: #f43c5c;
