<div class="auth-background p-5 h-100 d-flex">
  <div class="dark-card">
    <div class="w-100 d-flex pb-5">
      <span class="logo mx-auto">
        <img src="../../../../assets/images/icons/easy-chef-logo.svg" alt="icon" width="45px" height="45px">&nbsp;EasyChef
      </span>
    </div>

    <form>
      <mat-form-field appearance="outline" class="w-100 pb-3">
        <mat-label>E-mail</mat-label>
        <input matInput type="text">
        <mat-hint>Não tem uma conta? <a class="light-link" href="#">Crie uma</a></mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 pb-3">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder senha'" [attr.aria-pressed]="hide" style="background-color: transparent; border: none; color: inherit;">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Esqueceu seu <a class="light-link" href="#">e-mail ou senha</a>?</mat-hint>
      </mat-form-field>

      <div class="w-100 text-center">
        <button mat-stroked-button class="light-button">Entrar</button>
      </div>
    </form>
  </div>
</div>
